<!DOCTYPE html>
<html lang="en">

<head>
    <title> RBIS HOMEPAGE </title>
    <meta charset="utf-8">
    <meta name="viewport" content="width = device-width, initial-scale = 1, shrink-to-fit = no">
    {% load static %}
    <link rel="icon" type="image/x-icon" src="{% static 'images/RBIS.ico' %}">
    <link rel="stylesheet" href="{% static 'css/base_css.css' %}">
    <!-- header -->
    {% include 'snippets/header.html'%}

</head>

<body>
    <!-- body -->
    <!-- <div class="main">
        {% include 'snippets/rendingPage.html' %}</div> -->

    <!-- <div class="main"> {% include 'snippets/RBIS_info.html' %}</div> -->

    <div class="main"> {% include 'snippets/chatbot.html' %}
    </div>

    {% block content%}

    {% endblock content %}
    </div>
    <!-- footer -->
    {% include 'snippets/footer.html' %}
</body>

</html>