    *{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;    }
    head{
        font-weight: 380;
        color: azure;
    }
    footer{
        font-weight: 380;
    }
    body{
        font-weight: 380;
        background-color: #f2f2f2; 
    }