<!DOCTYPE html>
{% load static %}
<link rel="stylesheet" href="{% static 'css/base_css.css' %}" >
<link rel="stylesheet" href="{% static 'css/body.css' %}" >

<body >
    {% include 'snippets/rendingPage.html' %}
    <div>{% include 'snippets/RBIS_info.html' %}</div>
    <div class="triangle-shape" style="border-top-color: var(--rbsi-background)   " ></div>
    {% include 'snippets/records.html'  %}
    {% include 'snippets/recentstories.html' %}
    <div class="triangle-shape" style="border-top-color:var(--background-stories)  " ></div>
    {% include 'snippets/patners.html' %}
</body>