
{% load static %}
<link rel="stylesheet" href="{% static 'css/datashares.css' %}">

<section class="slideshow-container3">
    <div ><br><br>
        <h2 class="section_heading"> Who is sharing data with us</h2>
    </div><br>
    <div class="layout-datashares">
        <div class="data-shares">
            <ul class="slide-datashare">
                <li>
                    <article>
                        <img src="{% static 'images/data-shares/Alphonse.jpg' %}"><br>
                        <div class="image-data-sharer-name1"> Alphonse Nzarora</div>
                    </article>
                    <article style="margin-left:10px;">
                        <img src="{% static 'images/data-shares/m-claire.jpg' %}">
                        <div class="image-data-sharer-name2" > M.Claire Dusabe </div>
                    </article>
                </li>
            </ul>
        </div>
        <div class="data-shares">
            <ul class="slide-datashare">
                <li>
                    <article>
                        <img style="margin-right:10px" src="{% static 'images/data-shares/mindje.png' %}">
                        <div class="image-data-sharer-name1"> Mapendo Mindje </div>
                    </article>
                    <article>
                        <img src="{% static 'images/data-shares/Gael.jpg' %}">
                        <div class="image-data-sharer-name2" > Gael R. V. Weghe </div>
                    </article>
                </li>
            </ul>            
        </div>
        <div class="data-shares">
            <img src="{% static 'images/data-shares/Birdsong.png' %}">
            <div class="image-data-sharer-name1"> Planet Birdsong </div>
        </div>
        <a class="prev3" onclick="plusSlides3(-1)">❮</a>
        <a class="next3" onclick="plusSlides3(1)">❯</a>
    </div>

    <div class="dot3-container">
        <span class="dot3" onclick="currentSlide3(1)"></span>
        <span class="dot3" onclick="currentSlide3(2)"></span>
        <span class="dot3" onclick="currentSlide3(3)"></span>
    </div>
    <script>
        var s_index = 1;
        showSlides3(s_index);
        function plusSlides3(n) {showSlides3(s_index += n);}
        function currentSlide3(n) {showSlides3(s_index = n);}
        function showSlides3(n) {
            var i;
            var slides3 = document.getElementsByClassName("data-shares");
            var dots3 = document.getElementsByClassName("dot3");
            if (n > slides3.length) { s_index = 1 }
            if (n < 1) { s_index = slides3.length }
            for (i = 0; i < slides3.length; i++) {slides3[i].style.display = "none";}
            for (i = 0; i < dots3.length; i++) {dots3[i].className = dots3[i].className.replace(" active", "");}
            slides3[s_index - 1].style.display = "block";
            dots3[s_index - 1].className += " active";
        }
    </script>
    
</section>
