
{% load static %}
<link rel="stylesheet" href="{% static 'css/RBIS_info.css' %}" >

<section class="rbis-info" >
    <article>
        <img src="{% static 'images/RBIS-logo.png' %}">
    </article>
    <aside>
        <p><strong>What is a Biodiversity Information System?</strong> <br><br>
	        A biodiversity information system takes biodiversity observation records 
			that are stored in a variety of sources and formats and puts them into a 
			standardized format on a viewing platform to enable stakeholders to access 
			and use the information.<br><br>
			Biodiversity data for Rwanda have been scattered and difficult to access, 
			but are critical to understanding patterns of biodiversity distribution, 
			ecosystem functioning, and early detection of environmental change.<br><br>
		    <a href=""><em>Read More</em></a>
		</p>
    </aside>
</section>

