{% load static %}
<link rel="stylesheet" href="{% static 'css/recent-stories.css' %}" >
<link rel="stylesheet" href="{% static 'css/body.css' %}" >
<section class="recent_stories">
    <article> 
        <div > 
            <br><br><h1 class="section_heading"><strong>Recent stories </strong> </h1>
        </div>
        <br><br>
        <section class="layout">       
            <div class="latest-story left" >
                <img src="{% static 'images/latest-stories/ibikeri.jpeg' %}">
                <div class="latest-story-text"> 
                    <p>Ibikeri byifashishwa mu kwiga imiterere y'ibishanga <br> <br>
                    <strong>IBIKERI N'IBISHANGA</strong><br>
                    <a href="#Story"> Read More</a></p>
                </div>
            </div>
            <div class="latest-story right">
                <img src="{% static 'images/latest-stories/igihe-story.jpg' %}">
                <div class="latest-story-text"> 
                    <p>Hatangijwe uburyo bwo kubika amakuru y’ibinyabuzima hifashishijwe ikoranabuhanga<br><br>
                    <a href="#Story"> Read More</a></p>
                </div>
            </div>
            <div class="latest-story onlyrow ">
                <img src="{% static 'images/latest-stories/bisoke.jpg' %}">
                <div class="latest-story-text" > 
                    <p>Developing a freshwater biodiversity information system ...<br><br>
                    <strong>A JRS biodiversity story </strong><br><br>
                    <a href="#Story"> Read More</a></p>
                </div>
            </div>
        </section>
    </article>
    <article>
      {% include 'snippets/datashares.html ' %}
    </article>
</section>
