
<style>
    .layout-records{width: 100%; display: grid; grid-template-rows:3cm;
        grid-template-columns: repeat(4, 1fr);gap: 5%; align-items: center; text-align: center;}   
    .h1{color: navy;text-align: center;grid-column: 1 / -1;font-weight: bold;}

</style>

<section class="layout-records">
    <div class="h1"><h1>Biodiversity Occurence records</h1></div>
    <div>1</div><div>2</div><div>3</div>
    <div>4</div><div>5</div><div>6</div>
    <div>7</div><div>8</div><div>9</div>
    <div>10</div><div>11</div><div>12</div>

</section>
<br>

